<h1> Stupid Coaching </h1>
<h4> Your question: </h4>
<div class="p-3 mb-2 bg-light text-dark">
<p> <%= @ask %> </p>
</div>


<h4> Coach's answer: </h4>
<div class="p-3 mb-2 bg-info text-white">
<p> <%= @answer %> </p>
</div>

<%= link_to "Ask your question", ask_path %>
