/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 h1 {
  color: #151b70;
 }

 body {
  padding: 64px;
 }

 .button-blue {
  background-color: #151b70;
  color: #ffffff;
  border-radius: 8px;
  padding: 8px 16px 8px 16px;
 }

 .form-control {
  margin: 0px 0px 16px 0px;
 }

 .p-3 {
  border-radius: 8px;
 }
